global
    log 127.0.0.1    local0
    log 127.0.0.1    local1 notice
    # chroot /var/lib/haproxy
    stats socket *:4691 level admin
    stats timeout 30s
    user root
    group root
    # daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL).
    ssl-default-bind-ciphers kEECDH+aRSA+AES:kRSA+AES:+AES256:RC4-SHA:!kEDH:!LOW:!EXP:!MD5:!aNULL:!eNULL

    # Our stats socket for HAProxy monitoring & control

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend local_dockers
    bind *:8000
    mode http
    default_backend dockers

backend dockers
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    option httpchk HEAD / HTTP/1.1\r\nHost:localhost
    server dockerblue 127.0.0.1:8001 check
    server dockergreen 127.0.0.1:8002 check

listen stats
    bind *:9164 # Listen on localhost port 9000
    mode http
    stats enable # Enable statistics
    stats hide-version # Hide HAPRoxy version, a necessity for any public-facing site
    stats realm Haproxy\ Statistics # Show this text in authentication popup (escape space characters with backslash)
    stats uri /haproxy_stats # The URI of the stats page, in this case localhost:9000/haproxy_stats
    stats auth john:doe # Set a username and password
